body{
	background-color:white;

		}
#banner{
	width:99%;

	height:450px;

	border: 10px solid #000000;
}
p {
	text-align:center
}
#missao{
	style="font-size:25px
}
h1{
	text-align:center
}

em strong{
	color: blueviolet;
}